.profile__edit-button {
  height: 24px;
  width: 24px;
  background-image: url(../../../images/EditButton.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}