.profile__group {
  grid-area: group;
  display: grid;
  align-items: flex-end; 
  
  grid-template-columns: max-content 1fr;
  gap: 18px;
}

@media (max-width: 768px) {
  .profile__group  {
    padding-top: 8px;
    gap: 10px
  }
}