.elements__vector {
  height: 19px;
  width: 22px;
  background: url(../../../images/heart.svg);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .2s linear;
}

.elements__vector:hover {
  opacity: .6;
}
