.profile {
  position: relative;
  display: grid;
  padding-top: 40px;
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
  "info addbtn";
 
  /*border: 1px solid yellow;*/
}

@media (max-width: 1080px) {
  .profile {
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "info"
    "addbtn";
  }
}

@media (max-width: 768px) {
  .profile {
    padding-top: 42px;
  }
}