.profile__text {
  grid-area: text;
  margin: 0;
  padding-bottom: 25px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  max-width: 336px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .profile__text {
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   padding-bottom: 36px;
  }
}