.profile__profile-info {
  display: grid;
  grid-area: info;
  grid-template-areas: 
  "ava group"
  "ava text";
  gap: 16px 30px; 
}

@media (max-width: 1080px) {
  .profile__profile-info {
    
    justify-items: center;
    grid-template-areas: 
      "ava"
      "group"
      "text";
    
  }
}

@media (max-width: 768px) {
  .profile__profile-info {
    grid-gap: 14px;
  }
}