.profile__name {
  max-width: 294px;
  margin: 0;
  padding-top: 22px;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .profile__name {
    padding-top: 0px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}