.profile__name {
  max-width: 294px;
  padding-right: 18px;
  margin: 0;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}