.popup__profile-about {
  width: 358px;
  padding: 30px 0 48px;
  margin: 0;
  border: 0; 
}

@media (max-width: 768px) {
  .popup__profile-about {
    max-width: 238px;
    padding-bottom: 48px;
  }
}